*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}

body {
    background-color: #080808;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh; 
    background-image: url("./images/bat-bk.png");
    background-size:cover;
    background-position: left;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 30px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-weight: 500;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-size: 30px;
    margin-top: 10%;
    margin-left: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color:#eb5e28;
}

/* about */

.about{
    padding: 80px;
    color: #ababab;
}

.about .col-6 h1{
    text-align: center;
    font-size: 60px;
    color: #d62828;
}

.container .row .col-6 img{
    width: 100%;
    border-radius: 15px;
}

.about .col-6 p{
    text-align: justify;
    font-size: medium;
}

.about .details{
    display:flex;
    
}

.about .details p{
    font-size: 20px;
    margin-right: 20px;
    color: #d4a373;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.about .tab-details::after{
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    background-color: #ff004f;
    transition: 0.5s;
}

.about .tab-details.active-link::after{
    width: 100%;
}

.about .tab-contents ul li{
    margin: 10px 0;
    list-style: none;
    transform: translateX(-25px);
    
}

.about .tab-contents ul li span{
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

